    
    .main {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .etch-container {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        border: 2px dashed red;
        min-width: 75vh;
        height: 75vh;
    }
    

    .row {
        display: flex;
        flex: 1;
        border: 1px dotted purple;

    }

    .square {
        border: 1px solid black;
        flex: 1 0 auto;
        margin: 0px;
        padding-top: 1%;
        width: 1%;
        box-sizing: border-box;
        

    }